addict
termcolor
torch-tb-profiler
terminaltables
pycocotools
pylance
shapely
torch
torchvision
torchaudio
tensorboard
opencv-python
numpy
pillow
torchinfo
yapf
rich
pyyaml
tqdm
pyarrow
albumentations
scikit-learn
timm
psutil
regex
matplotlib